.layout {
  display: flex;
  flex-direction: column;
}

.placeholder {
  flex-grow: 1;
}

.hint {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 3);
}

.actions {
  margin-top: calc(var(--unit) * 10);
}

.stepper {
  margin-top: calc(var(--unit) * 5);
  padding: 0;
  pointer-events: none;
}

.preview {
  display: block;
  width: 40vw;
  overflow: hidden;
}

.image {
  width: 100%;
  display: block;
  object-fit: contain;
}
