.tiles {
  list-style: none;

  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--unit) * 3);
  margin: calc(var(--unit) * 3) 0;
}

.tile {
  width: calc(var(--unit) * 60);
  padding: calc(var(--unit) * 2);
}

.tile.large {
  width: calc(var(--unit) * 120);
}

.tile.large .image {
  height: calc(var(--unit) * 60);
}

.image {
  width: 100%;
  height: calc(var(--unit) * 30);
  object-fit: cover;
}

.thumb {
  width: calc(var(--unit) * 20);
  height: calc(var(--unit) * 12);
  object-fit: cover;
  display: block;
}
