.layout {
  min-width: 40vw;
  padding: calc(var(--unit) * 3) calc(var(--unit) * 10);
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 3);

  .title {
    line-height: 2.5;
  }

  .unit {
    padding: calc(var(--unit) * 3);
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 3);
    max-width: calc(var(--unit) * 100);
  }

  .desc {
    flex-grow: 1;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--unit) * 5);
    display: grid;
    margin: calc(var(--unit) * 3) 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    padding: calc(var(--unit) * 3) 0;
  }
}
