.layout {
  --aside-width: calc(var(--unit) * 55);

  display: grid;
  display: -ms-grid;
  width: 100%;
  height: 100%;
  grid-template: "aside  main";
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: 1fr;
}

.unit {
  padding: calc(var(--unit) * 2) calc(var(--unit) * 4);
}

.home {
  width: var(--aside-width);
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: calc(var(--unit) * 2);
  padding: calc(var(--unit) * 3) calc(var(--unit) * 4);
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 2);
  border-right: 1px solid var(--g-color-line-generic);
}

.main {
  grid-area: main;
  padding: calc(var(--unit) * 5) calc(var(--unit) * 2);
}

.primary {
  flex-grow: 1;
}
