.wrap {
    display: flex;
    min-height: 100vh;
}

.main {
    flex-basis: 100%;
    min-width: calc(var(--space__space-base) * 110);
    padding-bottom: calc(var(--space__space-base) * 14);
    padding-top: calc(var(--space__space-base) * 14);
    display: flex;
    flex-direction: column;
}

.main.maintaince {
    padding-top: 0;
}

.main.flat {
    padding-top: 0;
}

.narrow {
    width: calc(var(--space__space-base) * 98);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 100%;
    flex-grow: 1;
}

.aside {
    flex-grow: 1;
    overflow: hidden;
    display: none;
}

.note {
    background-color: var(--color__statuses__error);
    padding: calc(var(--space__space-base) * 3);
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: var(--color__common__light);
    margin-bottom: calc(var(--space__space-base) * 15);
    display: flex;
}

@media (min-width: 800px) {
    .main.maintaince:not(.flat) {
        padding-top: calc(var(--space__space-base) * 14);
    }

    .aside {
        display: block;
    }

    .note {
        display: none;
    }

    .main {
        flex-basis: 40%;
        max-width: calc(var(--space__space-base) * 150);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space__space-base) * 14);
}

.links {
    font-size: var(--font__fontsize__12pt);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support {
    color: var(--color__statuses__info);
}

.copyright {
    font-size: var(--font__fontsize__12pt);
}